@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --mainColor:#1d809f;
}
.offcanvas-header{
    background-color: var(--mainColor);
    color: #fff;
}
.offcanvas-body{
    padding: 0 !important;
}
.btn-primary {
    position: absolute;
    right: 0 !important;
    top :0 !important;
}
.left-btn{

  border-radius: 3px;
    border: none;
    outline: none;
    padding: 4px;
    cursor: pointer;
    transition: .4s ease-in-out;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: rgba(52, 58, 64, 0.5) !important;
    line-height: 50px;
    z-index: 999;

   
}
.left-btn span{
    display: block;
    width:50%;
   margin-left: 9px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 2px; 

}
.left-btn:hover{
    background-color: rgba(52, 58, 64) !important;  
}
.background-pic{
    background-image: url('../img/bg-masthead.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    text-align: center;
}
.title h1{
    font-size: 5rem;
    font-weight: 700;

}
.title h3{
    font-style: italic;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}
.title .find-more{
    background-color: var(--mainColor);
    color:#fff;
    border: none;
    font-size: 1.3rem;
    text-align: center;
    line-height: 24px;
    padding :15px 28px;
    border-radius: 3%;
    font-weight: 400 !important;
}
.title .find-more:hover{
    background-color: var(--mainColor);
}
.sidebar-nav .sidebar-brand{
    background-color: var(--mainColor);
    color:#fff;    
}
.list-group-item{
    background-color: var(--mainColor);
    color:#fff;
    width: 250px;
    height: 50px;
    border: none !important;
    width: 100%;
}
.list-group-item:hover{
    background-color: rgba(29, 116, 143,.9);
    cursor: pointer;
 
}
.offcanvas-body{
    background-color: #1D809F;
    
}
/*start offer secton*/
.offer{
    text-align: center;
    padding-top: 150px;
}
.offer h2{
    font-size: 2rem;
    font-weight: 700;
}
.offer p{
    color:#212529;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}
.offer p a{
    color:var(--mainColor);
}
.offer .what-offer{
    color: #fff;
    background-color: #212529;
    border: none;
    border-radius: 4%;
    padding:1.25rem 2.5rem;
    line-height: 1.5;
    font-weight: 400;
}
/*enf offer section*/

/*start services section*/
.services{
    background-color: var(--mainColor);
    color:#fff;
    text-align: center;
    margin-top: 50px;
    padding: 170px;
}
.services h3{
    color:#ecb807;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19.2px;
}
.services h2{
font-size: 2.5rem;
font-weight: 700;
line-height: 57.6px;

}
.p-title{
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 800;
}
.services-icons{
    display: flex;
justify-content: space-evenly;
}
.services-icon{ 
    width: 25%;
}
.services-icons .fa-mobile-screen,.fa-pencil,.fa-thumbs-up,.fa-city{
    background-color: #fff;
    color:var(--mainColor);
    width: 7rem;
    height: 7rem;
    line-height: 7.5rem;
    font-size: 2.25rem;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*end services section*/

/*start second cover*/
.the-next-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg-callout.jpg');
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;

}

.next-cover h2{
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
    max-width: 30rem;
}
.next-cover{
    text-align: center;
}
.download{
    background-color: var(--mainColor);
    color:#fff !important;
    border:none;
    padding: 15px;
}
.download:hover{
    background-color: rgba(29, 116, 143,.9);
    border: none;
}
/*end second cover*/
.portfolio{
    text-align: center;
    margin-top: 50px;
}
.port-title{
    margin-bottom: 50px;
}
.pic{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
color: #fff;

}
.p{
    position: relative;
}
 .pic img{
    width: 450px;
    padding: 0 !important;
    height: 400px;
    transition: all .4s ease-in-out;
    position: relative;
  
}

.pic p {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    left: 50%;
    transform: translate(-50%,-50%);
}
.p span{
    font-weight: 500;
    font-size: 1rem;
}
.pic img:hover{
 transform: scale(.9);  
 opacity: .7;
}

/*end portfolio section*/

.resist{
    color:#fff;
    background-color: var(--mainColor);
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 0;
}
.resist h2{
    font-size: calc(1.325rem + 0.9vw);
    margin-bottom: 1.5rem !important;
}
.resist .btn{
    padding: 20px 40px;
    margin-right: 15px;
}
/*end resist section*/
/*start map function*/
.map iframe{
    width:100%;
}
/*end map function*/
/*start footer section*/
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    padding: 50px 0;
}
.footer-icons i{
    color:#fff;
    background-color: var(--mainColor);
    font-size: 1.2rem;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    margin-right:10px;
    margin-bottom: 40px;
    cursor: pointer;
}
.footer-icons :hover{
    background-color:rgba(29, 116, 143,.8)
   
}
 footer p{
    --bs-text-opacity: 1;
    color: #6c757d !important;
 }










